* {
    font-family: "Nunito", sans-serif;
}

h2 { /* changes the background color of all journal entry headers to red and changes other colors */
    background-color: rgb(28, 141, 38);
    color: burlywood;
    text-align: center;
    width: 75%;
}

.highlights{ /* underlines the highlights */
    text-decoration: underline;
}

#submission { /* style the form submision area */
    border-width: 5px;
    border-style: dashed;
    border-color: #aea77e;
    border-radius: 2mm;
}

ul, ol { /* style lists*/
    border-width: 0.5vw;
    border-color: hsl(36, 60%, 38%);
    border-style: dotted;
    border-radius: 2em;
    padding: 25px 6px 30px 80px;
}

audio[src="music.mp3"] { /* make the audio wide */
    width: 65vmin;
    max-width: 50%;
    display: block;
}

img.kona-img { /* reduce the width of the kona image */
    height: 3in;
    min-width: 40%;
    display: inline;
}

details summary { /* style the big buck bunny info for the video */
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 40px;
}

input:hover { /* make the textboxes turn gold on hover */
    background-color: gold;
}

button:active { /* make the button turn aqua on click */
    background-color: aqua;
}

input { /* set margin for the input boxes */
    margin: auto;
}

button { /* give some spacing for the buttons */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

footer { /* space out the footer a bit */
    margin: 5% 5% 5% 5%;
}

p + img { /* style the kona image a bit more separately with another selector */
    border-width: 10px;
    border-style: solid;
    border-color: gray;
    border-radius: 2mm;
}

nav > ol { /* style the journal entries list */
    margin-top: 50px;
}

h3 ~ p { /* style the thoughts */
    color: gray;
}

@media (min-width: 1290px) {
    header {
        border-width: 2px;
        border-style: dashed;
        border-color: brown;
        border-radius: 2mm;
    }
}

#kona {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: space-evenly;
}

#grid-area { 
    display: grid;
    grid-template-columns: 100px 70px 60px;
    grid-template-rows: 50px 50px 50px;
    column-gap: 25%;
}

#col1 {
    grid-row-start: 2;
    grid-column-start: 1;
    span:1;
}

#col2 {
    grid-row-start: 2;
    grid-column-start: 2;
    span:1;
}

#col3 {
    grid-row-start: 2;
    grid-column-start: 3;
    span:1;
}